@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-dm-serif-text) sans-serif;
}

.logo {
  font-family: var(--font-monsieur), sans-serif;
}

h1 {
  font-family: var(--font-dm-serif-text), sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}